html {
    font-size: 62.5%;
    box-sizing: border-box;

    height: 100%;

    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: $fuente_principal;
    margin: 0;

    background-color: $color5;

    display: flex;
    flex-direction: column;

    height: 100%;
}
main {
    flex: 1;
}
a {
    text-decoration: none;
}
h1, h2, h3 {
    font-family: $fuente_principal;
    text-align: center;
    color: $negro;
}
h1 {
    font-weight: $bold;
    font-size: 3.5rem;
}
h2 {
    font-weight: $bold;
    font-size: 3rem;
}
h3 {
    font-weight: $bold;
    font-size: 2.5rem;
}
p{
    font-size: 2rem;
}
.contenedor {
    margin: 2rem 10%;
}
@media (max-width: $telefono) {
    .contenedor {
        margin: 2rem 2%;
    }
}
.contenedor-contenido {
    padding: 2rem;
    border-radius: 2rem;
}
.widthAuto {
    width: auto;
}
.error, .exito {
    font-size: 2rem;
    font-weight: $bold;
    margin-bottom: 1rem;
}
.alerta {
    text-align: center;
}
.error {
    color: red;
}
.exito {
    color: green;
}
.grid2 {
    display: flex;
    flex-direction: column;
}
@media (min-width: $desktop) {
    .grid2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
.flex {
    display: flex;
    flex-direction: column;
}
@media (min-width: $tablet) {
    .flex {
        flex-direction: row;
    }
}
.bg-blanco {
    background-color: $blanco;
    color: $negro;
}
.bg-gray {
    background-color: $dark1;
    color: $blanco;
}