// Importar la tipografia
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

// Fuentes
$fuente_principal: 'Roboto', sans-serif;

// Colores a usar
$blanco: #FFFFFF;
$negro: #000000;
$color1: #000000;
$color3: #15A4F1;
$color2: #1C15F1;
$color4: #E6E6E6;
$color5: #E6E6E6;
$color6: #a5a5a559;

// Colores darkMode
$dark1: #424242;
$dark2: #6F6F6F;
$dark3: #E6E6E6;

// Tamano de media query's
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Fuentes
$ultraDelgada: 100;
$delgada: 300;
$regular: 400;
$bold: 700;

