.header {
    background-image: url("/../build/img/fondoHeader1.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30rem;

    padding-bottom: 10rem;
}
@media (min-width:$tablet) {
    .header {
        height: 35rem;
    }
}
.header {
    margin: 0;
    align-items: center;
}
.contenedor-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo {
        width: auto;
        max-width: 20rem;

        img {
            margin-bottom: 0;
        }
    }
}
@media (min-width: $tablet) {
    .contenedor-logo {
        flex-direction: row;

        .logo {
            max-width: 35rem;
        }
    }
}
@media (min-width: $desktop) {
    .contenedor-logo {
        flex-direction: row;
        justify-content: center;
        justify-content: start;

        .logo {
            width: 50%;
        }
    }
}
.fondo-header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.contenedor-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: none;
    margin: 0;
    padding: 2rem 5rem;
    img {
        width: 3rem;
        margin-bottom: 1rem;
        filter: invert(90%);
    }
    a, h1 {
        color: $blanco;
        transition: color linear 0.2s;
    }
    h1 {
        font-size: 3.5rem;
        margin: 1rem 4rem;
        padding-bottom: 1rem;
    }
    transition: background-color ease-in-out 0.2s;
}
@media (min-width: $desktop) {
    .contenedor-header {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }
}
.nav, .admin-nav {
    background-color: $color1;
}
.navegacion {
    visibility: hidden;
    margin-top: 1.5rem;
    opacity: 0;
    height: 0;
    a {
        margin-bottom: 0.6rem;
        font-size: 1.65rem;
    }
    a:hover {
        color: darken($color: $blanco, $amount: 20);
    }
    transition: height linear 0.2s, visibility linear 0.2s, opacity linear 0.2s, display linear 0s;
}
.nav-servicio {
    display: flex;
    flex-direction: column;
    align-items: center;

    .a-servicio {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
            width: 1.2rem;
            margin-left: 0.6rem;
        }
    }

    .a-servicios {
        background-color: $color1;
        padding: 1.5rem;
        margin: 3rem 1rem 0 0;
        border-radius: 0.6rem;
        display: flex;
        flex-direction: column;
        position: absolute;
        visibility: hidden;
        opacity: 0;

        transition: visibility ease-out 0.2s 0.1s, opacity linear 0.2s 0.1s;
    }
}
.nav-servicio:hover {
    .a-servicio {
        img {
            transform: rotate(180deg);
        }
    }
    .a-servicios {
        visibility: visible;
        opacity: 0.9;
    }
}

.show {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: visible;
    opacity: 1;
}
@media (min-width:$desktop) {
    .contenedor-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h1 {
            padding-bottom: 0;
        }
    }
    .imagen-nav {
        display: block;
        visibility: hidden;
        opacity: 0;
    }
    .navegacion {
        visibility: visible;
        opacity: 1;
        margin-top: 0;
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}
@media (min-width: $desktop) {
    .navegacion {
        width: 50%;
    }
}
.contenedor-ofrecemos {
    text-align: center;
    margin: 0;
    padding-top: 12rem;
    h1 {
        visibility: hidden;
        color: $color4;
        font-weight: $bold;
    }
    p {
        visibility: hidden;
        color: $negro;
    }
}
@media (min-width:$tablet) {
    .contenedor-ofrecemos {
        p {
            visibility: visible;
            font-size: 2rem;
            font-weight: $bold;
        }
        h1 {
            visibility: visible;
            font-size: 5rem;
        }
    }
}
.logo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        filter: invert(100%);
        width: 80%;
    }
}
.tipo {
    color: $blanco;
    padding-top: 8%;
    font-size: 5rem;
    font-weight: $regular;
}
.contenedor-info-tipo {
    padding: 12rem 3rem 0;
    text-align: center;
    position: relative;

    h1, p {
        margin: 0;
        padding: 0;
    }
    h1 {
        font-size: 4rem;
    }
    p {
        margin-top: 0.5rem;
        font-size: 2rem;
        color: $color3;
    }
}
@media (min-width: $tablet) {
    .contenedor-info-tipo {
        padding-top: 17rem;
    }
}
.hide-tipo {
    visibility: hidden;
    opacity: 0;
    display: block;
}
.nav-hide {
    margin-top: 1rem;
}
.contenedor-modos {
    background-image: url("/../build/img/sky.jpg");
    background-position: cover;
    background-repeat: no-repeat;
    width: 7rem;
    height: 3.4rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
}
@media (min-width: $tablet) {
    .nav-hide {
        margin: 0;
    }
    .contenedor-modos {
        margin-left: 1rem;
    }
}
.modos {
    display: flex;
    flex-direction: row;

    align-items: center;

}
.imagen-nav {
    img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }
}
.lighMode {
    width: 2.2rem;
    height: 2.2rem;
    background-image: url("/../build/img/moon.svg");
    border: none;
    background-size: 100%;
    background-repeat: no-repeat;
}
.dark {
    
    background-image: url("/../build/img/sun.svg");
}
.nav-hide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}