.contenedor-contactanos {
    display: flex;
    flex-direction: column;
    text-align: center;

    justify-content: center;
    align-items: center;
}
@media (min-width: $tablet) {
    .contenedor-contactanos {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin: 1rem 10%;
        padding: 1rem 7rem;
    
        justify-content: center;
        align-content: center;
    }
}
.contenedor-contacto {
    width: 100%;
    text-align: start;
}
.contenedor-forma {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;

    legend {
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }

    label {
        margin: 0 1rem 0 1rem;
        font-size: 1.5rem;
    }

    input, textarea {
        margin: 0.5rem 1rem 1rem 1rem;
        padding: 0 0.5rem;
        border: none;
        border-radius: 0.3rem;
    }

    input {
        height: 3rem;
    }
    
    textarea {
        height: 15rem;
        padding: 0.5rem;
    }
}
.contenedor-texto {
    display: flex;
    flex-direction: column;
    text-align: center;

    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem 0;

    img {
        width: 100%;
        padding-bottom: 1rem;
    }
    .logo-texto {
        visibility: hidden;
        width: 0;
    }

    p {
        font-weight: $bold;
        font-size: 2.2rem;
        margin: 0.2rem 0;
    }
    .color {
        color: $color3;
    }
}
.contenedor-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}
@media (min-width: $tablet) {
    .contenedor-boton {
        justify-content: start;
        margin-top: 3rem;
    }
    .contenedor-texto {
        margin-left: 2rem;
        text-align: start;
        align-items: start;

        img {
            width: 75%;
        }
        .logo-texto {
            visibility: visible;
            width: 80%;
        }
    }
}
.boton-enviar {
    background-color: $color3;
    color: $blanco;
    font-weight: $bold;
    font-size: 2.5rem;
    width: 90%;
    font-size: 1.9rem;
    border: none;
    padding: 1rem 1rem;
    border-radius: 0.5rem;

    transition: background-color ease-in-out 0.3s;

}
@media (min-width: $tablet) {
    .boton-enviar {
        font-size: 1.4rem;
        width: 25%;
    }
}
.boton-enviar:hover {
    background-color: darken($color: $color3, $amount: 10);
}
.social-media {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;

    justify-content: start;

    img {
        width: 3.5rem;
        margin-right: 3rem;
    }
}